*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* tag */

body{
    width: 50%;
    margin: auto;
}

header{
    height: 100px;
    background-color: darkorchid;
    margin-top: 20px;
}

footer{
    height: 50px;
    background-color:purple;
    margin-top: 5px;
    margin-bottom: 20px;
}

aside{
    width: 25%;
    background-color: skyblue;
    height: 100%;
}

section{
    background-color: skyblue;
    width: calc(50% - 20px);
    height: 100%;
    margin: 0 10px;
}

/* classi */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.box_1{
    height: 300px;
    background-color: goldenrod;
    margin: 15px 0;
}

.box_2{
    height: 400px;
    background-color: royalblue;
}

.box_2_header{
    height: 12.5%;
    background-color: skyblue;
}

.container{
    width: 100%;
    height: 87.5%;
    padding: 10px 0;
}

.float_left{
    float: left;
}
